.namepicker {
    padding-top: 31%;
    display: flex;
    flex-direction: column;
    padding-right: 11%;
    padding-left: 55%;

	&__title {
		font-family: 'lovelyn';
		font-size: 5em;
	}
	
	&__bg {
		width: 70%;
		height: 100%;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__input-container {
		margin-bottom: 91px;
	}
}