.lobby-wrapper {
	display: flex;
    width: 80%;
	flex: 1;
    max-height: 100%;
	overflow-y: auto;
	padding-top: 10px;
    margin-bottom: 10px;
	&::-webkit-scrollbar {
		display: none;
	}
}

.lobby-content {
	width: 100%;
}